<div class="container custom-container-2">

    <div class="no-data text-center" *ngIf="Employee.length == 0">
        <p>There is no employee added yet!</p>
        <button class="btn btn-outline-primary" routerLink="/create-employee">Add Empoyee</button>
    </div>

    <div *ngIf="Employee.length !== 0">

        <div class="list-container">
            <h3 class="mb-3 text-center">Employees List</h3>
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">User Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of Employee">
                            <td>{{employee.id}}</td>
                            <td>{{employee.name}}</td>
                            <td>{{employee.email}}</td>
                            <td>{{employee.phone}}</td>
                            <td>
                                <button type="button" class="btn btn-primary" routerLink="/employee-edit/{{employee.id}}">Edit</button>
                                <div class="divider"></div>
                                <button type="button" class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="container-fluid">
                <div class="col-sm-12 text-center">
                    <p class="btn btn-secondary" routerLink="/create-employee">Back to create</p>
                </div>
            </div>
        </div>

    </div>

</div>